<body>
    <h1 style="...">¡Tu pedido está en camino! 🚚</h1>

    <p>Hola {{name}},</p>
    <p>Tenemos buenas noticias. La marca ha despachado tus productos de la orden <strong>#{{orderId}}</strong>.</p>

    <table width="100%"
        style="margin: 20px 0; background-color: #f0f9ff; border: 1px solid #bae6fd; border-radius: 10px; padding: 20px;">
        <tr>
            <td align="center">
                <p style="margin: 0; color: #0284c7; font-weight: bold;">ESTADO: ENVIADO</p>
                <p style="margin: 5px 0 0 0; font-size: 14px;">El envío es carbono neutral 🌱</p>
            </td>
        </tr>
    </table>

    <p>Pronto recibirás tu compra sostenible.</p>
</body>